body {
    margin: 0;
    padding: 0;
}
#map{
    width: 1024px;
    height: 768px;
}

.css-icon {
	width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    opacity: .5;
}