body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Special Elite', cursive;
}
#map{
    height: 768px;
    float: right;
    width: 100%;
    position: absolute;
    background-color: black;
    
}
.modal-content{
    background-color: black;
}
.modal-body{
    font-family: 'Roboto', sans-serif;
}
.header{
    padding: 10px;
    height: 150px;
}
.col1, .col2{
    float:left;
    width:50%;
}

.credit, .methodology{
    text-align: right;
}
.credit{
    padding-top:30px;

}
.methodology{
    cursor:pointer;
}
.sidebar {
    float: left;
    width: 25%;
    height: 470px;
    position: relative;
    padding: 20px;
    overflow: scroll;
    overflow-y: hidden;
}
.panel panel-default{
    height: 50px;
}
.panel-heading:hover{
    background-color:black;
    border-color:black;
}
.panel-heading:focus{
    background-color:black;
    border-color:black;
}
.number-text{
    font-size: smaller;
}
.my-dagger-icon{
    background-image: url("dagger_icon.svg");
}
.css-icon {
	width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    opacity: .5;
}
a{
    color: red;
}
a:hover{
    color:darkred;
}
a:focus{
    outline: none;
}
